In [1]:
import pandas as pd 
from utils.main import QA_Raw_CRT
import boto3, os
import datetime as dt
from dateutil.relativedelta import relativedelta

In [2]:
execution_year_month_str = '2022-12'
bucketname = 'ri-ds-crt-raw-data'

In [3]:
qa_crt_raw = QA_Raw_CRT()

# exe_year = qa_crt_raw.cur_exe_year
# exe_month = qa_crt_raw.cur_exe_month
# pre_year = qa_crt_raw.pre_exe_year
# pre_month = qa_crt_raw.pre_exe_month

In [4]:
execution_year_month = dt.datetime.strptime(execution_year_month_str, '%Y-%m').date()
cur_exe_year = execution_year_month.year
cur_exe_month = execution_year_month.month

previous_execution_year_month = execution_year_month + relativedelta(months=-1)
pre_exe_year = previous_execution_year_month.year
pre_exe_month = previous_execution_year_month.month

In [5]:
df_cur_json = qa_crt_raw.get_json_data_s3(cur_exe_year, cur_exe_month, bucketname)

df_lst_json = qa_crt_raw.get_json_data_s3(pre_exe_year, pre_exe_month, bucketname)

In [15]:
df_cur_json.head()

,RESP_TOKEN,CID,LOCALE,COUNTRY,DEVICE_TYPE,AGE_ORI,TERM,uuid,respStatus,PLATFORM,...,Q_N_1109_003A_8_other,S105Fielded_270004,Q_N_5603_005A_98_other,Q_N_5603_005_98_other,Q_N_11432_003_1,Q_N_698_002A_3,Q_N_698_002A_2,Q_N_11432_003A_1,Q_N_1109_005A_7,Q_N_5240_002_1_98_other
0,fHwIjuJMCiPrQgUso_X4gg**,13.0,1,198.0,5,11.0,1.0,jjnesg9p8u3quycb,1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fHwIjuJMCiMvqtktIdURHA**,16.0,8,106.0,5,10.0,1.0,45zj0jn8jxuzr3f3,1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fHwIjuJMCiNov38FPgvrlA**,17.0,8,1060.0,5,13.0,1.0,dk7k7y9c2xy1n2z3,1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fHwIjuJMCiMUV6dkKup9uQ**,18.0,8,214.0,5,10.0,1.0,9e23jvaxrhunjfbk,1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,fHwIjuJMCiPS73exMUOEvw**,19.0,8,1060.0,5,4.0,1.0,dy382jvyc2e9z31h,1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_lst_json.head()

,Language,LATAM_SOURCE,uuid,respStatus,CID,LOCALE,COUNTRY,dTrack,TERMINATION_CODE,Day,...,Q_N_11432_002_3,Q_N_11432_002_2,Q_N_11432_002_6,Q_N_11432_002_4,Q_N_11432_002_99,Q_N_11432_002_1,Q_N_11432_003A_1,Q_N_11432_003_1,Q_N_1109_003A_8_other,Q_N_5021_004_98_other
0,18000.0,2.0,rcnmvfbmymdp8bsn,4,2.0,1,262.0,0.0,30.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000.0,2.0,9a0eb89eshn9jb2u,1,3.0,1,262.0,0.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6000.0,2.0,bcfv2xxbnbqc0k17,4,16.0,8,282.0,0.0,30.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6000.0,2.0,99v8mavsw44z4gyg,1,17.0,8,106.0,0.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000.0,2.0,wavrdhvxxc6ktk6k,4,19.0,8,1060.0,0.0,30.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
cols_cur, cols_lst = df_cur_json.columns, df_lst_json.columns

new_cols_name, missing_cols_name = qa_crt_raw.compare_col(cols_cur, cols_lst)

In [9]:
new_cols_name

['Q_N_11700_003_4',
 'S105Fielded_60575',
 'S105Fielded_274419',
 'S105Fielded_100025',
 'Q_L_962_008_8',
 'S105Fielded_180069',
 'Q_N_1109_003_8_other',
 'Q_L_11700_002_1',
 'Q_L_11700_002A_3',
 'Q_L_962_008_5',
 'S105Fielded_180096',
 'S105Fielded_60220',
 'S105Fielded_180090',
 'S105Fielded_750327',
 'Q_N_763_014A_1',
 'Q_N_32_009A_5',
 'Q_N_11769_004A_1',
 'S105Fielded_151283',
 'Q_L_5636_003_6',
 'Q_L_962_008_10',
 'S105Fielded_60227',
 'Q_L_11700_002A_5',
 'Q_L_11700_001A_12',
 'S105Fielded_220045',
 'S105Fielded_60573',
 'S105Fielded_180094',
 'S105Fielded_60572',
 'Q_L_962_008_2',
 'Q_L_11700_002_4',
 'Q_N_32_008A_1',
 'Q_L_962_008_11',
 'Q_N_32_009A_1',
 'S105Fielded_2620024',
 'Q_N_11700_003_1',
 'S105Fielded_180071',
 'S105Fielded_60004',
 'Q_N_11700_004A_3',
 'Q_L_962_008A_10',
 'S105Fielded_220043',
 'Q_L_962_008_6',
 'S105Fielded_100022',
 'S105Fielded_30913',
 'Q_L_962_008_9',
 'S105Fielded_2620025',
 'Q_N_11432_007_1',
 'Q_L_11700_001A_7',
 'S105Fielded_540299',
 'Q_N_5240_002_1_98_other',
 'Q_N_962_007A_4',
 'Q_N_32_009_3',
 'S105Fielded_1390010',
 'S105Fielded_90121',
 'Q_N_962_007_2',
 'Q_N_763_014_1',
 'Q_N_11700_003_5',
 'S105Fielded_220047',
 'S105Fielded_750353',
 'Q_L_32_006_1',
 'Q_L_707_006A_1',
 'Q_N_962_007A_3',
 'Q_L_962_008A_8',
 'S105Fielded_2620023',
 'S105Fielded_130027',
 'Q_N_2142_005A_1',
 'Q_L_5157_004_1',
 'S105Fielded_130175',
 'Q_N_11769_004_1',
 'S105Fielded_220046',
 'S105Fielded_130039',
 'Q_L_962_008_3',
 'S105Fielded_90153',
 'Q_N_11700_003A_5',
 'Q_N_962_007A_2',
 'S105Fielded_90131',
 'S105Fielded_30912',
 'Q_L_11700_002A_2',
 'Q_L_11700_001_8',
 'Q_L_962_008A_1',
 'Q_N_11700_004A_2',
 'S105Fielded_90148',
 'S105Fielded_220037',
 'S105Fielded_220011',
 'Q_N_11700_004A_4',
 'Q_OE_11700_005_1',
 'S105Fielded_281059',
 'Q_N_2142_005_2',
 'S105Fielded_130013',
 'Q_L_11700_002A_6',
 'S105Fielded_30915',
 'Q_N_32_009A_4',
 'Q_OE_11700_005A_1',
 'Q_N_32_009A_3',
 'Q_L_962_008_1',
 'S105Fielded_60199',
 'Q_N_32_010A_3',
 'Q_N_11700_003_7',
 'Q_N_32_009_2',
 'S105Fielded_60012',
 'S105Fielded_180097',
 'Q_N_11700_004_3',
 'S105Fielded_130078',
 'S105Fielded_1390006',
 'S105Fielded_80905',
 'Q_L_11700_001_12',
 'Q_N_32_008_1',
 'Q_L_962_008_12',
 'Q_N_32_009_4',
 'Q_N_11700_004_4',
 'S105Fielded_90056',
 'S105Fielded_220042',
 'S105Fielded_220048',
 'S105Fielded_130135',
 'S105Fielded_151281',
 'S105Fielded_220041',
 'Q_N_11700_003A_1',
 'Q_N_32_010A_1',
 'Q_L_962_008A_12',
 'Q_N_3262_004_98_other',
 'Stakeholder_BR_BA2',
 'S105Fielded_1610124',
 'S105Fielded_30916',
 'Q_N_11700_003_6',
 'Q_N_2142_005A_2',
 'S105Fielded_180105',
 'Q_N_32_010_4',
 'S105Fielded_60574',
 'Q_N_962_007_3',
 'S105Fielded_90149',
 'S105Fielded_90002',
 'Q_L_11700_002_3',
 'Q_N_3262_004A_98_other',
 'Q_N_962_007_1',
 'Q_N_11700_003A_7',
 'S105Fielded_130051',
 'Q_N_11700_004A_6',
 'S105Fielded_130041',
 'S105Fielded_130071',
 'S105Fielded_130232',
 'Q_L_962_008A_2',
 'S105Fielded_90154',
 'Q_N_11700_003A_4',
 'S105Fielded_151282',
 'S105Fielded_180098',
 'S105Fielded_90028',
 'Q_L_11700_002_6',
 'S105Fielded_60234',
 'Q_N_32_007A_1',
 'Q_L_11700_001_10',
 'Q_N_11700_003A_2',
 'Q_N_32_010A_4',
 'Q_L_5636_003A_6',
 'Q_N_11827_003A_6',
 'Q_N_5157_003_1',
 'Q_N_32_007_1',
 'S105Fielded_750274',
 'Q_L_11700_001_9',
 'Q_L_962_008_4',
 'Q_L_32_006A_1',
 'S105Fielded_274033',
 'Q_N_707_005A_1',
 'S105Fielded_1390003',
 'Q_N_32_010_1',
 'S105Fielded_90151',
 'S105Fielded_180093',
 'Q_L_11700_002A_4',
 'Q_OE_11700_005A_1_99',
 'S105Fielded_130317',
 'S105Fielded_90152',
 'S105Fielded_150566',
 'Q_L_962_008A_9',
 'S105Fielded_180089',
 'Q_L_962_008A_3',
 'S105Fielded_1390015',
 'Q_L_11700_001_7',
 'Q_L_962_008A_11',
 'Q_N_11700_004_1',
 'Q_N_32_009_5',
 'S105Fielded_220040',
 'S105Fielded_60570',
 'Q_N_11827_003_6',
 'S105Fielded_60187',
 'Q_L_962_008A_6',
 'Q_N_11432_007A_1',
 'Q_OE_11700_005_1_99',
 'Q_L_11700_002_2',
 'Q_N_962_007_4',
 'Q_N_11700_004A_1',
 'Q_L_11700_001A_11',
 'Q_N_32_009A_2',
 'S105Fielded_1390012',
 'S105Fielded_1390008',
 'Q_N_11700_004_2',
 'Q_L_11700_001A_10',
 'Q_N_32_010_2',
 'Q_N_962_007_5',
 'Q_N_32_010_5',
 'S105Fielded_2620022',
 'Q_N_11700_003_3',
 'S105Fielded_180095',
 'S105Fielded_220049',
 'S105Fielded_1390014',
 'Q_N_32_009_1',
 'S105Fielded_220044',
 'Q_N_962_007A_1',
 'S105Fielded_150158',
 'S105Fielded_130256',
 'Q_L_11700_001A_8',
 'S105Fielded_100024',
 'S105Fielded_60571',
 'S105Fielded_220039',
 'Q_N_11700_003A_3',
 'Q_N_11700_003A_6',
 'S105Fielded_751019',
 'Q_N_11700_003_8',
 'S105Fielded_30914',
 'Q_N_5157_003A_1',
 'Q_N_11700_004A_5',
 'Q_L_962_008_7',
 'Q_L_11700_002A_1',
 'S105Fielded_1390007',
 'Q_L_707_006_1',
 'S105Fielded_1390013',
 'S105Fielded_60569',
 'Q_N_11700_004_5',
 'hCaptcha',
 'Q_N_32_010A_2',
 'Q_N_32_010_3',
 'Q_N_11700_003A_8',
 'S105Fielded_220038',
 'Q_L_962_008A_7',
 'S105Fielded_1390016',
 'Q_L_5157_004A_1',
 'S105Fielded_90150',
 'Q_N_11700_004_6',
 'Stakeholder_BR_BA1',
 'S105Fielded_100023',
 'S105Fielded_1390009',
 'Q_L_962_008A_4',
 'Q_N_962_007A_5',
 'S105Fielded_2620026',
 'S105Fielded_1390011',
 'Q_L_11700_001A_9',
 'Q_N_11700_003_2',
 'Q_N_2142_005_1',
 'Q_N_32_010A_5',
 'Q_L_962_008A_5',
 'Q_N_707_005_1',
 'S105Fielded_120136',
 'S105Fielded_180091',
 'Q_L_11700_001_11',
 'Q_L_11700_002_5']

In [10]:
missing_cols_name

['S105Fielded_260017',
 'Q_N_32_005_5',
 'Q_L_32_002_9',
 'Q_N_32_005_4',
 'Q_N_32_005A_6',
 'Q_N_962_006A_1',
 'Q_L_32_002_5',
 'S105Fielded_320362',
 'S105Fielded_2300004',
 'Q_L_962_002_1',
 'S105Fielded_274011',
 'S105Fielded_750971',
 'Q_L_962_002_4',
 'S105Fielded_270084',
 'Q_L_32_002A_9',
 'S105Fielded_270876',
 'Q_N_32_004_1',
 'Q_L_962_002A_2',
 'Q_L_32_002_12',
 'S105Fielded_20125',
 'S105Fielded_272445',
 'S105Fielded_121859',
 'Q_L_32_002A_7',
 'Q_N_707_004_4',
 'S105Fielded_272209',
 'Q_L_32_002_2',
 'S105Fielded_270803',
 'S105Fielded_30735',
 'Q_N_32_005_10',
 'S105Fielded_70002',
 'Q_N_32_005_1',
 'S105Fielded_260170',
 'S105Fielded_270341',
 'Q_N_962_006_1',
 'S105Fielded_274192',
 'Q_L_962_002_5',
 'S105Fielded_70338',
 'S105Fielded_930138',
 'S105Fielded_272360',
 'S105Fielded_271523',
 'S105Fielded_10590',
 'Q_N_32_005A_9',
 'S105Fielded_273651',
 'S105Fielded_272569',
 'Q_L_32_002_7',
 'Q_N_707_004A_6',
 'Q_L_32_002_11',
 'S105Fielded_271549',
 'S105Fielded_270828',
 'Q_N_8060_005_1',
 'S105Fielded_270869',
 'Q_L_32_002A_12',
 'S105Fielded_260728',
 'Q_N_32_005A_1',
 'Q_N_10813_009A_98_other',
 'S105Fielded_270886',
 'S105Fielded_270500',
 'Q_N_707_004A_4',
 'Q_L_32_002_8',
 'Q_N_32_005_11',
 'S105Fielded_20229',
 'Q_N_32_005_7',
 'Q_N_8060_003_1',
 'Q_N_32_005_6',
 'Q_N_32_004A_1',
 'S105Fielded_272257',
 'Q_N_32_001_1',
 'S105Fielded_260628',
 'S105Fielded_270922',
 'S105Fielded_260619',
 'Q_L_962_002A_5',
 'S105Fielded_270208',
 'Q_N_8060_003A_1',
 'Q_L_32_002_4',
 'Q_N_8060_002_1',
 'S105Fielded_270714',
 'S105Fielded_270380',
 'S105Fielded_70326',
 'S105Fielded_270881',
 'S105Fielded_151058',
 'S105Fielded_272132',
 'S105Fielded_272094',
 'S105Fielded_270129',
 'Q_N_962_003A_6_other',
 'Q_L_32_002A_8',
 'Q_N_32_005A_4',
 'Q_N_32_005A_7',
 'S105Fielded_260459',
 'S105Fielded_10016',
 'S105Fielded_272361',
 'Q_L_962_002_3',
 'Q_N_32_005A_3',
 'S105Fielded_30186',
 'Q_L_32_002A_2',
 'S105Fielded_30863',
 'S105Fielded_120969',
 'S105Fielded_272390',
 'Q_N_962_004A',
 'S105Fielded_120912',
 'S105Fielded_270102',
 'Q_N_32_005A_2',
 'S105Fielded_273783',
 'Q_N_962_003',
 'S105Fielded_270556',
 'S105Fielded_271378',
 'S105Fielded_272015',
 'Q_N_707_004_5',
 'Q_L_32_002A_4',
 'S105Fielded_120905',
 'S105Fielded_20943',
 'S105Fielded_150008',
 'Q_N_962_003A',
 'S105Fielded_270154',
 'S105Fielded_121746',
 'S105Fielded_1480004',
 'S105Fielded_271377',
 'S105Fielded_270068',
 'Q_L_32_002_3',
 'S105Fielded_270484',
 'Q_N_707_004A_1',
 'S105Fielded_270352',
 'Q_L_32_002A_10',
 'S105Fielded_272454',
 'Q_N_32_005_8',
 'S105Fielded_120228',
 'S105Fielded_270491',
 'S105Fielded_320056',
 'S105Fielded_260685',
 'Q_N_962_004',
 'Q_N_962_003_6_other',
 'Q_L_32_003_1',
 'Q_N_707_004_6',
 'Q_N_8060_002A_1',
 'Q_L_5636_003A_1',
 'S105Fielded_320758',
 'Q_L_962_002_2',
 'Q_N_8060_001A_1',
 'S105Fielded_260042',
 'S105Fielded_930021',
 'S105Fielded_270001',
 'Q_N_32_005A_5',
 'S105Fielded_1480420',
 'S105Fielded_151025',
 'Q_L_962_002A_1',
 'Q_N_32_005A_11',
 'Q_N_707_004_1',
 'Q_L_32_002A_11',
 'S105Fielded_280608',
 'S105Fielded_260272',
 'Q_N_8060_001_1',
 'Q_N_707_004_3',
 'S105Fielded_271998',
 'S105Fielded_270871',
 'Q_L_32_002_1',
 'S105Fielded_270035',
 'Q_L_962_002A_3',
 'S105Fielded_70043',
 'Q_N_32_005_3',
 'Q_L_32_003A_1',
 'Q_L_32_002A_5',
 'S105Fielded_270171',
 'S105Fielded_320760',
 'Q_N_8060_005A_1',
 'S105Fielded_271057',
 'S105Fielded_260274',
 'S105Fielded_270928',
 'S105Fielded_270036',
 'S105Fielded_272136',
 'S105Fielded_20550',
 'Q_N_8060_004A_1',
 'Q_N_707_004A_5',
 'S105Fielded_2300031',
 'Q_L_32_002_6',
 'Q_L_32_002A_3',
 'S105Fielded_121461',
 'Q_L_962_002A_4',
 'S105Fielded_272298',
 'S105Fielded_270016',
 'S105Fielded_270365',
 'Q_N_32_001A_1',
 'S105Fielded_121833',
 'S105Fielded_270842',
 'Q_N_32_005_9',
 'Q_L_32_002_10',
 'Q_N_707_004_2',
 'S105Fielded_80010',
 'S105Fielded_930029',
 'Q_L_5636_003_1',
 'S105Fielded_273561',
 'Q_L_32_002A_1',
 'S105Fielded_20093',
 'Q_N_707_004_98',
 'S105Fielded_270855',
 'S105Fielded_260547',
 'S105Fielded_70034',
 'S105Fielded_270037',
 'Q_N_707_004A_3',
 'Q_L_32_002A_6',
 'S105Fielded_121429',
 'S105Fielded_270067',
 'S105Fielded_30030',
 'Q_N_32_005A_10',
 'Q_N_32_005A_8',
 'Q_N_707_004A_2',
 'S105Fielded_270145',
 'Q_N_8060_004_1',
 'S105Fielded_270027',
 'Q_N_32_005_2',
 'S105Fielded_270291',
 'S105Fielded_270343',
 'Q_N_707_004A_98',
 'S105Fielded_1480009',
 'S105Fielded_273313']

In [17]:
dict_new, dict_missing = qa_crt_raw.compare_unique_values_by_col(df_cur_json, df_lst_json, cols_cur, cols_lst)

In [18]:
dict_new['Q306_1']

[nan]

In [19]:
df_cur_json.Q306_1.unique()

array([nan,  6.,  7.,  3.,  5.,  4.,  2., 99.,  1.])

In [20]:
df_lst_json.Q306_1.unique()

array([nan,  6.,  7.,  4.,  5.,  3.,  1., 99.,  2.])